* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FDF2F8;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px 20px;  
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
    border: 1px solid #f0c2e6;
    margin-top: 60px;  
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #FF7B9A;
    font-family: 'Dancing Script', cursive;
    margin-top: 0; /* กำหนดให้ไม่มีมาร์จินด้านบน */
}
