* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FDF2F8;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px 20px;  
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
    border: 1px solid #f0c2e6;
    margin-top: 60px;  
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #FF7B9A;
    font-family: 'Dancing Script', cursive;
    margin-top: 0; /* กำหนดให้ไม่มีมาร์จินด้านบน */
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
    margin-top: 12px;
    font-weight: bold;
}
input[type="text"], 
input[type="email"], 
input[type="date"], 
input[list], 
select {
    padding: 12px;
    margin-bottom: 18px;
    border: 2px solid #f0a6d8;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    background-color: #fff0f5;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="date"]:focus, 
input[list]:focus, 
select:focus {
    border-color: #FF7B9A;
    outline: none;
}
.required {
    color: #FF7B9A;
}
.gender-options input[type="radio"],
.subscribe-options input[type="radio"] {
    margin-right: 10px;
}
div.gender-options, 
div.subscribe-options {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
div.gender-options label, 
div.subscribe-options label {
    margin-right: 20px;
    font-size: 14px;
}
button, label, input, select {
    font-family: 'Poppins', sans-serif;
}
input:invalid {
    border-color: #FF7B9A;
}
input:invalid + .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
button {
    background-color: #FF7B9A;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #FF5A72;
}